// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #bebebe;
@light-gray: #6e6e6e;
@gray: #4e4e4e;
@dark-gray: #2d2d2d;
@very-dark-gray: #222;

@cyan: #38fafa;
@blue: #3899fa;
@purple: #fb6afb;
@green: #6afb6a;
@red: #ff6b6e;
@accent: #ff9933;
@light-accent: #ffb366;
